<% provide(:title, 'Допомога') %>
<h1>Допомога</h1>
<p>
 Щоб отримати допомогу про роботу системи Багтрекінгу. Та отримати будь-яку інформацію,яка вам не зрозуміла, використовуйте  
  <a href="http://google.ru/">пошук</a>.
  </a>
</p>
